# Telegram Bot Token
TELEGRAM_BOT_TOKEN=

# Yandex Cloud
YANDEX_CLOUD_OAUTH_TOKEN=
YANDEX_CLOUD_FOLDER_ID=

# База данных SQLite создается автоматически, настройки не нужны.
AUTO_RU_API_URL=
AUTO_RU_API_TOKEN=
